* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FED233;
    --accent-color : #FF634D;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}

.minh-50 {
    min-height: 50vh;
}

.t-bold {
    font-weight: 700;
}

.t-secondary {
    font-family: 'Hind Siliguri', sans-serif;
}

.t-ter {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
}

.btn-shade {
    background-color: var(--accent-color);
    padding: 1rem 3rem;
    border-radius: 10px;
}

.bg-black {
    background-color: black;
}

.bg-accent{
    background-color: var(--accent-color);
}
.absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    height: 50%;
    width: 50%;
}

.rounded-border {
    border-radius: 10px;
}

h2 span {
    color: var(--main-color);
}

.rel {
    position: relative;
}

.speach-bubble {
    filter: grayscale(1);
    opacity: .3;
    height: 80%;
    margin-left: 0%;
    margin-top: 30px;
}

.speach {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 576px) {
    .speach {
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
    }
 
}

.box{
    padding: 3rem;
}



/* ottavo */

.btn-8 {
    padding: 1.2rem 2.7rem;
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-8 a {
    display: none;
}

.btn-8::after {
    content: 'CONTACT ME';
    font-weight: 900;
    color: var(--main-color);
}

.btn-8:hover {
    background-color: transparent;
    border: none;
}

.btn-8:hover a {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: var(--main-color);
    transition: .2s;
    text-decoration: none;
}

/*ruota i link*/

.btn-8:hover a:hover {
    transform: rotate(45deg);
}

.btn-8:hover a:hover i {
    transform: rotate(-45deg);
}

/* Nascondi contact me all hover */

.btn-8:hover::after {
    display: none;
}

@media screen and (max-width: 576px) {
    .btn-8::after {
       display: none;

    }

    .btn-8 a {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        height: 2rem;
        width: 2rem;
        padding: 1.5rem;
        margin: 0.5rem;
        background-color: var(--main-color);
        transition: .2s;
        text-decoration: none;
    }
}